@font-face {
    font-family: "MAK";
    font-style: normal;
    font-weight: 400;
  
    src: local("MAK"),
         url("/font/Mak/MAK.otf") format("otf");
}
@font-face {
    font-family: "MAK";
    font-style: normal;
    font-weight: 700;
  
    src: local("MAK"),
         url("/font/Mak/MAK-bold.otf") format("otf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Regular.ttf") format("ttf");
}
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Bold.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Thin.woff") format("woff");
}
*{
    padding: 0;
    margin: 0;
}
:root{
    --collor1: #E8DABF;
    --collor2: #C92F27;
    --collor5: #D2B681;
    --collor3: #1E1515;
    --collor4: #FFEBDD;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--collor1);
    color: var(--collor2);
    box-sizing: border-box;
}

/* navigation */
.navigation__pc{
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3vw;
}
.nav__left{
    display: flex;
    justify-content: space-between;
}
.nav__left a{
    padding-right: 2vw;
}
.nav__right{
    display: flex;
    justify-content: space-between;
}
.navigation__pc a{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4vw;
    color: var(--collor2);
}
.link__nav__sign__in{
    padding-right: 2vw;
}
.link__nav__bag{
    padding-right: 2vw;
}
.mobile__head{
    display: none;
}
@media only screen and (max-width: 480px) {
    .navigation__pc{
        display: none;
    }
    .mobile__head{
        padding-top: 6vw;
        padding-left: 10vw;
        padding-right: 10vw;
        display: flex;
        justify-content: space-between;
    }
    .link__logo a{
        font-size: 6vw !important;
    }
    .container__mobile{
        display: block;
    }
    .nav {
        /*  ширна произвольная, не стесняйтесь экспериментировать */
        width: 320px;
        min-width: 320px;
        /* фиксируем и выставляем высоту панели на максимум */
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0;
        /* сдвигаем (прячем) панель относительно левого края страницы */
        left: -320px;
        /* внутренние отступы */
        padding: 15px 15px;
        /* плавный переход смещения панели */
        -webkit-transition: left 0.3s;
        -moz-transition: left 0.3s;
        transition: left 0.3s;
        /* определяем цвет фона панели */
        background: var(--collor1);
        /* поверх других элементов */
        z-index: 2000;
    }
     
    /**
     * Кнопка переключения панели
     * тег <label>
     */
     
    .nav-toggle {
        /* абсолютно позиционируем */
        position: absolute;
        /* относительно левого края панели */
        left: 342px;
        /* внутренние отступы */
        padding: 2vw;
        margin-left: 3vw;
        margin-top: 3vw;
        /* определяем цвет фона переключателя
         * чаще вчего в соответствии с цветом фона панели
        */
        background: inherit;
        /* цвет текста */
        color: var(--collor2);
        /* вид курсора */
        cursor: pointer;
        /* размер шрифта */
        font-size: 2em;
        line-height: 1;
        /* всегда поверх других элементов страницы */
        z-index: 2001;
        /* анимируем цвет текста при наведении */
        -webkit-transition: color .25s ease-in-out;
        -moz-transition: color .25s ease-in-out;
        transition: color .25s ease-in-out;
    }
     
    /* определяем текст кнопки 
     * символ Unicode (TRIGRAM FOR HEAVEN)
    */
     
    .nav-toggle:after {
        content: '\2630';
        text-decoration: none;
    }
     
    /* цвет текста при наведении */
     
    .nav-toggle:hover {
        color: var(--collor2);
    }
     
    /**
     * Скрытый чекбокс (флажок)
     * невидим и недоступен :)
     * имя селектора атрибут флажка
     */
     
    [id='nav-toggle'] {
        position: absolute;
        display: none;
    }
     
    /**
     * изменение положения переключателя 
     * при просмотре на мобильных устройствах
     * когда навигация раскрыта, распологаем внутри панели
    */
     
    [id='nav-toggle']:checked ~ .nav > .nav-toggle {
        left: auto;
        right: 2px;
        top: 1em;
    }
     
    /**
     * Когда флажок установлен, открывается панель
     * используем псевдокласс:checked
     */
     
    [id='nav-toggle']:checked ~ .nav {
        left: 0;
        box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        -moz-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        -webkit-box-shadow:4px 0px 20px 0px rgba(0,0,0, 0.5);
        overflow-y: auto;
    }
     
    /* 
     * смещение контента страницы
     * на размер ширины панели,
     * фишка необязательная, на любителя
    */
     
    [id='nav-toggle']:checked ~ main > article {
        -webkit-transform: translateX(320px);
        -moz-transform: translateX(320px);
        transform: translateX(320px);
    }
     
    /*
     * изменение символа переключателя,
     * привычный крестик (MULTIPLICATION X), 
     * вы можете испльзовать любой другой значок
    */
     
    [id='nav-toggle']:checked ~ .nav > .nav-toggle:after {
        content: '\2715';
    }
     
    /**
     * профиксим баг в Android <= 4.1.2
     * см: http://timpietrusky.com/advanced-checkbox-hack
     */
     
    body {
        -webkit-animation: bugfix infinite 1s;
    }
     
    @-webkit-keyframes bugfix {
        to {
          padding: 0;
        }
    }
    .nav h2 {
        width: 90%;
        padding: 0;
        margin: 10px 0;
        text-align: center;
        font-size: 1.3em;
        line-height: 1.3em;
        opacity: 0;
        transform: scale(0.1, 0.1);
        -ms-transform: scale(0.1, 0.1);
        -moz-transform: scale(0.1, 0.1);
        -webkit-transform: scale(0.1, 0.1);
        transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -webkit-transform-origin: 0% 0%;
        transition: opacity 0.8s, transform 0.8s;
        -ms-transition: opacity 0.8s, -ms-transform 0.8s;
        -moz-transition: opacity 0.8s, -moz-transform 0.8s;
        -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
    }
     
    .nav h2 a {
        color: var(--collor2);
        text-decoration: none;
        font-family: 'MAK', sans-serif;
    }
     
     
    /*плавное появление заголовка (логотипа) при раскрытии панели */
     
    [id='nav-toggle']:checked ~ .nav h2 {
        opacity: 1;
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
     
    /**
     * формируем непосредственно само меню
     * используем неупорядоченный список для пунктов меню
     * прикрутим трансфомации и плавные переходы
     */
     
    .nav > ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }
     
    .nav > ul > li {
        line-height: 2.5;
        opacity: 0;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
        -moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
        -ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
        transition: opacity .5s .1s, transform .5s .1s;
    }
     
    [id='nav-toggle']:checked ~ .nav > ul > li {
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
     
    /* определяем интервалы появления пунктов меню */
     
    .nav > ul > li:nth-child(2) {
        -webkit-transition: opacity .5s .2s, -webkit-transform .5s .2s;
        transition: opacity .5s .2s, transform .5s .2s;
    }
     
    .nav > ul > li:nth-child(3) {
        -webkit-transition: opacity .5s .3s, -webkit-transform .5s .3s;
        transition: opacity .5s .3s, transform .5s .3s;
    }
     
    .nav > ul > li:nth-child(4) {
        -webkit-transition: opacity .5s .4s, -webkit-transform .5s .4s;
        transition: opacity .5s .4s, transform .5s .4s;
    }
     
    .nav > ul > li:nth-child(5) {
        -webkit-transition: opacity .5s .5s, -webkit-transform .5s .5s;
        transition: opacity .5s .5s, transform .5s .5s;
    }
     
    .nav > ul > li:nth-child(6) {
        -webkit-transition: opacity .5s .6s, -webkit-transform .5s .6s;
        transition: opacity .5s .6s, transform .5s .6s;
    }
     
    .nav > ul > li:nth-child(7) {
        -webkit-transition: opacity .5s .7s, -webkit-transform .5s .7s;
        transition: opacity .5s .7s, transform .5s .7s;
    }
     
     
    /**
     * оформление ссылок пунктов меню
     */
     
    .nav > ul > li > a {
        display: inline-block;
        position: relative;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 1.2em;
        color: var(--collor2);
        width: 100%;
        text-decoration: none;
        /* плавный переход */
        -webkit-transition: color .5s ease, padding .5s ease;
        -moz-transition: color .5s ease, padding .5s ease;
        transition: color .5s ease, padding .5s ease;
    }
     
    /**
     * состояние ссылок меню при наведении
     */
     
    .nav > ul > li > a:hover,
    .nav > ul > li > a:focus {
        color: var(--collor2);
        padding-left: 15px;
    }
     
    /**
     * линия подчеркивания ссылок меню
     */
     
    .nav > ul > li > a:before {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        -webkit-transition: width 0s ease;
        transition: width 0s ease;
    }
     
    .nav > ul > li > a:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background: var(--collor2);
        -webkit-transition: width .5s ease;
        transition: width .5s ease;
    }
     
    /**
     * анимируем линию подчеркивания 
     * ссылок при наведении
     */
     
    .nav > ul > li > a:hover:before {
        width: 0%;
        background: var(--collor2);
        -webkit-transition: width .5s ease;
        transition: width .5s ease;
    }
     
    .nav > ul > li > a:hover:after {
        width: 0%;
        background: transparent;
        -webkit-transition: width 0s ease;
        transition: width 0s ease;
    }
    
}
















/* header */
.container__header{
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 15vw;
}
.header__left{
    width: 36vw;
    font-size: 1.6vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 160%;
}
.header__right{
    
    width: 40vw;
}
.title__header{
    font-size: 1.8vw;
    padding-bottom: 1vw;
}
.text__header{
    padding-bottom: 2vw;
}
.maps{
    width: 40vw;
    height: 40vw;
}
@media only screen and (max-width: 480px){
    .maps{
        width: 100%;
        height: 72vw;
    }
    .container__header {
        display: block;
        margin-bottom: 20vw;
    }
    .header__left {
        padding-top: 8vw;
        width: 100%;
        font-size: 4vw;
    }
    .title__header {
        font-size: 5vw;
        padding-bottom: 2vw;
    }
    .header__right{
        margin-top: 5vw;
        width: 100%;
    }

}




















/* form */
.form{
    margin-bottom: 15vw;
}
.title__form{
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 3vw;
    font-family: 'MAK', sans-serif;
    font-weight: 700;
    font-size: 5vw;
}
.form__button__enter{
    margin-top: 2vw;
}
.button_enter{
    width: 25vw;
    height: 4.6vw;
    font-size: 1.8vw;
    border-radius: 5px;
    background-color: var(--collor2);
    color: var(--collor1);
    border: none;
}
.form__container{
    padding-left: 10vw;
    padding-right: 10vw;
}
.form__text{
    width: 75vw;
    height: 15vw;
    padding: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--collor2);
    background-color: var(--collor1);
    border: 2px solid var(--collor2);
    font-size: 1.8vw;
}
.text__form{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8vw;
    padding-bottom: 2vw;
}
@media only screen and (max-width: 480px){
    .title__form {
    margin-bottom: 4vw;
    font-size: 8vw;
    }
    .text__form {
        font-size: 4vw;
        padding-bottom: 4vw;
    }
    .form__text {
        width: 71vw;
        height: 20vw;
        padding: 4vw;
        font-size: 4vw;
        
    }
    .button_enter {
        width: 100%;
        height: 16vw;
        font-size: 5vw;
    }
    .form__container{
        margin-bottom: 20vw;
    }
}
















/* footer */
.line__footer{
    border: 2px solid var(--collor5);
}
.footer__container{
    display: flex;
    padding-left: 10vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 2vw;
    margin-bottom:2vw;
}
.right__footer{
    margin-left: 20vw;
}
.right__footer a{
    text-decoration: none;
    color: var(--collor2);
    font-size: 1.6vw;
    line-height: 160%;
}
.link__logo a{
    text-decoration: none;
    color: var(--collor2);
    font-size: 1.6vw;
}
.politica a{
    text-decoration: none;
    color: var(--collor2);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 160%;
}
.link__logo{
    padding-bottom: 6.6vw;
}
@media only screen and (max-width: 480px){
    .footer__container__mobile{
        display: block;
        padding-left: 10vw;
        padding-right: 10vw;
        padding-top: 5vw;
        padding-bottom: 3vw;
    }
    .footer__container{
        display: none;
    }
    .footer__container__mobile a{
        text-decoration: none;
        color: var(--collor2);
        font-size: 5vw;
        font-weight: 700;
        line-height: 160%;
    }
    .privacy_policy{
        font-weight: 400 !important;
        font-size: 4vw !important;
    }
    .politica{
        margin-top: 5vw;
    }
}