@font-face {
    font-family: "MAK";
    font-style: normal;
    font-weight: 400;
  
    src: local("MAK"),
         url("/font/Mak/MAK.otf") format("otf");
}
@font-face {
    font-family: "MAK";
    font-style: normal;
    font-weight: 700;
  
    src: local("MAK"),
         url("/font/Mak/MAK-bold.otf") format("otf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Regular.ttf") format("ttf");
}
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Bold.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
  
    src: local("Roboto"),
         url("/font/Roboto/Roboto-Thin.woff") format("woff");
}
*{
    padding: 0;
    margin: 0;
}
:root{
    --collor1: #E8DABF;
    --collor2: #C92F27;
    --collor5: #D2B681;
    --collor3: #1E1515;
    --collor4: #FFEBDD;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: var(--collor1);
    color: var(--collor2);
    box-sizing: border-box;
}

/* navigation */
.navigation{
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3vw;
}
.nav__left{
    display: flex;
    justify-content: space-between;
}
.nav__left a{
    padding-right: 2vw;
}
.nav__right{
    display: flex;
    justify-content: space-between;
}
.navigation a{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.4vw;
    color: var(--collor2);
}
.link__nav__sign__in{
    padding-right: 2vw;
}
.link__nav__bag{
    padding-right: 2vw;
}
@media only screen and (max-width: 480px) {
    
}
















/* header */
.container__header{
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 15vw;
}
.header__left{
    width: 36vw;
    font-size: 1.6vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 160%;
}
.header__right{
    
    width: 40vw;
}
.title__header{
    font-size: 1.8vw;
    padding-bottom: 1vw;
}
.text__header{
    padding-bottom: 2vw;
}
.maps{
    width: 40vw;
    height: 40vw;
}





















/* form */
.form{
    margin-bottom: 15vw;
}
.title__form{
    padding-left: 10vw;
    padding-right: 10vw;
    margin-bottom: 3vw;
    font-family: 'MAK', sans-serif;
    font-weight: 700;
    font-size: 5vw;
}
.form__button__enter{
    margin-top: 2vw;
}
.button_enter{
    width: 25vw;
    height: 4.6vw;
    font-size: 1.8vw;
    border-radius: 5px;
    background-color: var(--collor2);
    color: var(--collor1);
    border: none;
}
.form__container{
    padding-left: 10vw;
    padding-right: 10vw;
}
.form__text{
    width: 75vw;
    height: 15vw;
    padding: 2vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--collor2);
    background-color: var(--collor1);
    border: 2px solid var(--collor2);
    font-size: 1.8vw;
}
.text__form{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.8vw;
    padding-bottom: 2vw;
}

















/* footer */
.line__footer{
    border: 2px solid var(--collor5);
}
.footer__container{
    display: flex;
    padding-left: 10vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-top: 2vw;
    margin-bottom:2vw;
}
.right__footer{
    margin-left: 20vw;
}
.right__footer a{
    text-decoration: none;
    color: var(--collor2);
    font-size: 1.6vw;
    line-height: 160%;
}
.link__logo a{
    text-decoration: none;
    color: var(--collor2);
    font-size: 1.6vw;
}
.politica a{
    text-decoration: none;
    color: var(--collor2);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 160%;
}
.link__logo{
    padding-bottom: 6.6vw;
}